[submodule "workshop-dirty-data"]
	path = data-science/fundamentals/dirty-data
	url = git@github.com:Dartmouth-Libraries/dirty-data.git
[submodule "intro-to-machine-learning-with-scikit-learn"]
	path = machine-learning/intermediate/intro-to-machine-learning-with-scikit-learn
	url = git@github.com:Dartmouth-Libraries/intro-to-machine-learning-with-scikit-learn
[submodule "text-analysis/text-analysis-with-python"]
	path = text-analysis/fundamentals/text-analysis-with-python
	url = git@github.com:Dartmouth-Libraries/Text-Analysis-with-Python.git
[submodule "machine-learning/intro-to-pytorch"]
	path = machine-learning/intermediate/intro-to-pytorch
	url = git@github.com:Dartmouth-Libraries/intro-to-pytorch.git
[submodule "infrastructure/distributed-computing-with-python-and-mpi"]
	path = computational-tools/advanced/distributed-computing-with-python-and-mpi
	url = git@github.com:Dartmouth-Libraries/distributed-computing-with-python-and-mpi.git
[submodule "infrastructure/intro-to-python"]
	path = computational-tools/fundamentals/intro-to-python
	url = git@github.com:Dartmouth-Libraries/intro-to-python.git
[submodule "infrastructure/classy-code"]
	path = computational-tools/intermediate/classy-code
	url = git@github.com:Dartmouth-Libraries/classy-code.git
[submodule "data-science/gentle-intro-to-statistics"]
	path = data-science/fundamentals/gentle-intro-to-statistics
	url = git@github.com:Dartmouth-Libraries/gentle-intro-to-statistics.git
[submodule "machine-learning/gentle-intro-to-regression"]
	path = machine-learning/fundamentals/gentle-intro-to-regression
	url = git@github.com:Dartmouth-Libraries/gentle-intro-to-regression.git
[submodule "machine-learning/gentle-intro-to-classification"]
	path = machine-learning/fundamentals/gentle-intro-to-classification
	url = git@github.com:Dartmouth-Libraries/gentle-intro-to-classification.git
[submodule "infrastructure/jupyter-notebooks-101"]
	path = computational-tools/fundamentals/jupyter-notebooks-101
	url = git@github.com:Dartmouth-Libraries/jupyter-notebooks-101.git
[submodule "apis-in-python"]
	path = computational-tools/intermediate/apis-in-python
	url = git@github.com:Dartmouth-Libraries/apis-in-python.git
[submodule "text-analysis/chatty-documents"]
	path = text-analysis/intermediate/chatty-documents
	url = git@github.com:Dartmouth-Libraries/chatty-documents.git
[submodule "text-analysis/computational-text-analysis-week"]
	path = text-analysis/fundamentals/computational-text-analysis-week
	url = git@github.com:Dartmouth-Libraries/computational-text-analysis-week.git
[submodule "computational-tools/data-viz-matplotlib"]
	path = computational-tools/fundamentals/data-viz-matplotlib
	url = git@github.com:Dartmouth-Libraries/data-viz-matplotlib.git
[submodule "computational-tools/data-viz-seaborn"]
	path = computational-tools/fundamentals/data-viz-seaborn
	url = git@github.com:Dartmouth-Libraries/data-viz-seaborn.git
[submodule "computational-tools/beyond-hello-world"]
	path = computational-tools/intermediate/beyond-hello-world
	url = git@github.com:Dartmouth-Libraries/beyond-hello-world.git
[submodule "data-science/bibliometrics"]
	path = data-science/intermediate/bibliometrics
	url = git@github.com:Dartmouth-Libraries/bibliometrics-workshops.git
